.contenedor{
    margin: 0 auto;
    width: 1080px;
}
.main{
    text-align: center;
}
.nav{
    margin: 40px 0px;
}
.main__h2{
    margin: 40px 0px;
    text-align: left;
}
.section{
    text-align: left;
}
.section__h3{
    text-align: center;
}
.table{
    border: 1px solid black;
}


